<!DOCTYPE html>
<html lang ="en">

<head>
<meta charset ="UTF-8">
<title> Hello</title>
</head>
<body>
<ul>
{{range .}}
<li>{{uc .Country}} - {{ff.Capital}}</li>
{{end}}
</ul>
<ul>
{{range .}}
</ul>
</body>

</html>
